{
	"root": true,
  "parser": "@typescript-eslint/parser",
	"plugins": [
		"prettier",
		"@typescript-eslint",
		"jest"
	],
  "extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"plugin:prettier/recommended"
	],
}
